@*@using PurchaseOrder.Models;*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Purchase Order</title>
    <link href="~/favicon_latest.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top no-print">
        <div class="container">
            <div class="pageHeader">
                <span>Purchase Order</span>
            </div>
        </div>
    </div>
   
    <div class="container body-content">
        
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
</body>
</html>
