@*@using PurchaseOrder.Models;*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Purchase Order</title>
    <link href="~/favicon_latest.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top no-print">
        <div class="container">
            <div class="pageHeader" style="width:99.9%">
                <span>Purchase Order</span>
                <div id="hdnEditButton"><a id="editLink" class="btn btn-primary" title="Edit the databases (vendors, vendors' contacts, product types)">Edit Database</a></div>
                <div id="hdnViewRecordButton"><a id="viewRecordLink" class="btn btn-primary" title="View the invoice for a previous purchase order">View an Order</a></div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("Scripts", required: false)
</body>
</html>